@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .row0 {
    display: flex;
    margin-left: 7px;
    margin-top: 3px;
    width: 361px;
    height: 18px;
    align-items: center
  }
  .style23 {
    background-color: #262626;
    position: relative;
    display: flex;
    margin-left: 0;
    width: 9px;
    height: 8px;
    flex-direction: column
  }
  .style19,
  .style20,
  .style21,
  .style22 {
    background-color: #262626;
    margin-left: 8px;
    height: 8px
  }
  .style22 {
    position: relative;
    flex-shrink: 0;
    width: 9px
  }
  .style19,
  .style20,
  .style21 {
    width: 8px
  }
  .style19,
  .style20 {
    margin-left: 0
  }
  .style19 {
    background-color: #434953;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    width: 9px
  }
  .style18 {
    color: #262626;
    font-family: aileron,serif;
    font-size: .75em;
    margin-left: 5px;
    height: 9px
  }
  .style17 {
    background-color: #262626;
    margin-left: 5px;
    width: 16px;
    height: 100%
  }
  .style16 {
    color: #262626;
    text-align: center;
    font-family: aileron,serif;
    font-size: .875em;
    margin-left: 54px;
    height: 11px
  }
  .style15 {
    background-color: #262626;
    opacity: .4;
    margin-left: 75px;
    width: 11px;
    height: 100%
  }
  .style11 {
    color: #262626;
    text-align: right;
    font-family: aileron,serif;
    font-size: .8125em;
    margin-left: 11px;
    height: 11px
  }
  .row0container4row0,
  .style12 {
    display: flex;
    align-items: stretch
  }
  .style12 {
    background-color: #262626;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-left: 4px;
    width: 28px;
    flex-direction: column;
    height: 100%
  }
  .row0container4row0 {
    height: 11px
  }
  .style13,
  .style14 {
    background-color: #262626;
    margin-left: 0;
    width: 6px
  }
  .style14 {
    margin-left: 19px;
    width: 3px
  }
  .style0 {
    background-color: #000;
    display: flex;
    margin-left: 0;
    margin-top: 2px;
    width: 375px;
    height: 586px;
    flex-direction: column
  }
  .style1,
  .style10,
  .style8 {
    margin-top: 94px;
    width: 144px;
    height: 109px;
    align-self: center
  }
  .style1,
  .style8 {
    background-color: #000;
    margin-top: 103px;
    width: 26px;
    height: 2px
  }
  .style8 {
    background-color: #f5f5ef;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    margin-top: 79px;
    width: 251px;
    height: 49px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: .625em;
    font-weight: 900;
    letter-spacing: 1px;
    height: 8px
  }
  .style6 {
    background-color: #3d539c;
    display: flex;
    margin-top: 16px;
    width: 251px;
    height: 49px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style5,
  .style7 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif
  }
  .style7 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: .625em;
    height: 8px
  }
  .style5 {
    font-size: .8125em;
    margin-left: 111px;
    margin-top: 49px;
    height: 15px
  }
  .style2 {
    background-color: #ffb233;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 60px;
    flex-direction: column;
    justify-content: center
  }
  .container2row0 {
    display: flex;
    margin-left: 142px;
    width: 107px;
    height: 12px;
    align-items: stretch
  }
  .style4 {
    color: #262626;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: .625em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 0
  }
  .style3 {
    background-color: #262626;
    margin-left: 6px;
    width: 9px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .row0 {
    display: flex;
    margin-left: 14px;
    margin-top: 6px;
    width: 739px;
    height: 37px;
    align-items: center
  }
  .style23 {
    background-color: #262626;
    position: relative;
    display: flex;
    margin-left: 0;
    width: 18px;
    height: 16px;
    flex-direction: column
  }
  .style19,
  .style20,
  .style21,
  .style22 {
    background-color: #262626;
    margin-left: 16px;
    height: 16px
  }
  .style22 {
    position: relative;
    flex-shrink: 0;
    width: 18px
  }
  .style19,
  .style20,
  .style21 {
    width: 16px
  }
  .style19,
  .style20 {
    margin-left: 0
  }
  .style19 {
    background-color: #434953;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    width: 18px
  }
  .style18 {
    color: #262626;
    font-family: aileron,serif;
    font-size: 1.536em;
    margin-left: 10px;
    height: 18px
  }
  .style17 {
    background-color: #262626;
    margin-left: 10px;
    width: 33px;
    height: 100%
  }
  .style16 {
    color: #262626;
    text-align: center;
    font-family: aileron,serif;
    font-size: 1.792em;
    margin-left: 111px;
    height: 23px
  }
  .style15 {
    background-color: #262626;
    opacity: .4;
    margin-left: 154px;
    width: 23px;
    height: 100%
  }
  .style11 {
    color: #262626;
    text-align: right;
    font-family: aileron,serif;
    font-size: 1.6640000000000001em;
    margin-left: 23px;
    height: 23px
  }
  .row0container4row0,
  .style12 {
    display: flex;
    align-items: stretch
  }
  .style12 {
    background-color: #262626;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-left: 8px;
    width: 57px;
    flex-direction: column;
    height: 100%
  }
  .row0container4row0 {
    height: 23px
  }
  .style13,
  .style14 {
    background-color: #262626;
    margin-left: 0;
    width: 12px
  }
  .style14 {
    margin-left: 39px;
    width: 6px
  }
  .style0 {
    background-color: #000;
    display: flex;
    margin-left: 0;
    margin-top: 4px;
    width: 768px;
    height: 1200px;
    flex-direction: column
  }
  .style1,
  .style10,
  .style8 {
    margin-top: 193px;
    width: 295px;
    height: 223px;
    align-self: center
  }
  .style1,
  .style8 {
    background-color: #000;
    margin-top: 211px;
    width: 53px;
    height: 4px
  }
  .style8 {
    background-color: #f5f5ef;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    margin-top: 162px;
    width: 514px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 1.28em;
    font-weight: 900;
    letter-spacing: 2px;
    height: 16px
  }
  .style6 {
    background-color: #3d539c;
    display: flex;
    margin-top: 33px;
    width: 514px;
    height: 100px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style5,
  .style7 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif
  }
  .style7 {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.28em;
    height: 16px
  }
  .style5 {
    font-size: 1.6640000000000001em;
    margin-left: 227px;
    margin-top: 100px;
    height: 31px
  }
  .style2 {
    background-color: #ffb233;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 123px;
    flex-direction: column;
    justify-content: center
  }
  .container2row0 {
    display: flex;
    margin-left: 291px;
    width: 219px;
    height: 25px;
    align-items: stretch
  }
  .style4 {
    color: #262626;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 1.28em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 0
  }
  .style3 {
    background-color: #262626;
    margin-left: 12px;
    width: 18px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .row0 {
    display: flex;
    margin-left: 17px;
    margin-top: 7px;
    width: 886px;
    height: 44px;
    align-items: center
  }
  .style23 {
    background-color: #262626;
    position: relative;
    display: flex;
    margin-left: 0;
    width: 22px;
    height: 20px;
    flex-direction: column
  }
  .style19,
  .style20,
  .style21,
  .style22 {
    background-color: #262626;
    margin-left: 20px;
    height: 20px
  }
  .style22 {
    position: relative;
    flex-shrink: 0;
    width: 22px
  }
  .style19,
  .style20,
  .style21 {
    width: 20px
  }
  .style19,
  .style20 {
    margin-left: 0
  }
  .style19 {
    background-color: #434953;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    width: 22px
  }
  .style18 {
    color: #262626;
    font-family: aileron,serif;
    font-size: 1.8399999999999999em;
    margin-left: 12px;
    height: 22px
  }
  .style17 {
    background-color: #262626;
    margin-left: 12px;
    width: 39px;
    height: 100%
  }
  .style16 {
    color: #262626;
    text-align: center;
    font-family: aileron,serif;
    font-size: 2.1466666666666665em;
    margin-left: 132px;
    height: 27px
  }
  .style15 {
    background-color: #262626;
    opacity: .4;
    margin-left: 184px;
    width: 27px;
    height: 100%
  }
  .style11 {
    color: #262626;
    text-align: right;
    font-family: aileron,serif;
    font-size: 1.9933333333333332em;
    margin-left: 27px;
    height: 27px
  }
  .row0container4row0,
  .style12 {
    display: flex;
    align-items: stretch
  }
  .style12 {
    background-color: #262626;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-left: 10px;
    width: 69px;
    flex-direction: column;
    height: 100%
  }
  .row0container4row0 {
    height: 27px
  }
  .style13,
  .style14 {
    background-color: #262626;
    margin-left: 0;
    width: 15px
  }
  .style14 {
    margin-left: 47px;
    width: 7px
  }
  .style0 {
    background-color: #000;
    display: flex;
    margin-left: 0;
    margin-top: 5px;
    width: 920px;
    height: 1438px;
    flex-direction: column
  }
  .style1,
  .style10,
  .style8 {
    margin-top: 231px;
    width: 353px;
    height: 267px;
    align-self: center
  }
  .style1,
  .style8 {
    background-color: #000;
    margin-top: 253px;
    width: 64px;
    height: 5px
  }
  .style8 {
    background-color: #f5f5ef;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    margin-top: 194px;
    width: 616px;
    height: 120px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 1.5333333333333332em;
    font-weight: 900;
    letter-spacing: 2px;
    height: 20px
  }
  .style6 {
    background-color: #3d539c;
    display: flex;
    margin-top: 39px;
    width: 616px;
    height: 120px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style5,
  .style7 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif
  }
  .style7 {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.5333333333333332em;
    height: 20px
  }
  .style5 {
    font-size: 1.9933333333333332em;
    margin-left: 272px;
    margin-top: 120px;
    height: 37px
  }
  .style2 {
    background-color: #ffb233;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 147px;
    flex-direction: column;
    justify-content: center
  }
  .container2row0 {
    display: flex;
    margin-left: 348px;
    width: 263px;
    height: 29px;
    align-items: stretch
  }
  .style4 {
    color: #262626;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 1.5333333333333332em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 0
  }
  .style3 {
    background-color: #262626;
    margin-left: 15px;
    width: 22px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .row0 {
    display: flex;
    margin-left: 22px;
    margin-top: 10px;
    width: 1155px;
    height: 58px;
    align-items: center
  }
  .style23 {
    background-color: #262626;
    position: relative;
    display: flex;
    margin-left: 0;
    width: 29px;
    height: 26px;
    flex-direction: column
  }
  .style19,
  .style20,
  .style21,
  .style22 {
    background-color: #262626;
    margin-left: 26px;
    height: 26px
  }
  .style22 {
    position: relative;
    flex-shrink: 0;
    width: 29px
  }
  .style19,
  .style20,
  .style21 {
    width: 26px
  }
  .style19,
  .style20 {
    margin-left: 0
  }
  .style19 {
    background-color: #434953;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    width: 29px
  }
  .style18 {
    color: #262626;
    font-family: aileron,serif;
    font-size: 2.4000000000000004em;
    margin-left: 16px;
    height: 29px
  }
  .style17 {
    background-color: #262626;
    margin-left: 16px;
    width: 51px;
    height: 100%
  }
  .style16 {
    color: #262626;
    text-align: center;
    font-family: aileron,serif;
    font-size: 2.8000000000000003em;
    margin-left: 173px;
    height: 35px
  }
  .style15 {
    background-color: #262626;
    opacity: .4;
    margin-left: 240px;
    width: 35px;
    height: 100%
  }
  .style11 {
    color: #262626;
    text-align: right;
    font-family: aileron,serif;
    font-size: 2.6em;
    margin-left: 35px;
    height: 35px
  }
  .row0container4row0,
  .style12 {
    display: flex;
    align-items: stretch
  }
  .style12 {
    background-color: #262626;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-left: 13px;
    width: 90px;
    flex-direction: column;
    height: 100%
  }
  .row0container4row0 {
    height: 35px
  }
  .style13,
  .style14 {
    background-color: #262626;
    margin-left: 0;
    width: 19px
  }
  .style14 {
    margin-left: 61px;
    width: 10px
  }
  .style0 {
    background-color: #000;
    display: flex;
    margin-left: 0;
    margin-top: 6px;
    width: 1200px;
    height: 1875px;
    flex-direction: column
  }
  .style1,
  .style10,
  .style8 {
    margin-top: 301px;
    width: 461px;
    height: 349px;
    align-self: center
  }
  .style1,
  .style8 {
    background-color: #000;
    margin-top: 330px;
    width: 83px;
    height: 6px
  }
  .style8 {
    background-color: #f5f5ef;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    margin-top: 253px;
    width: 803px;
    height: 157px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    height: 26px
  }
  .style6 {
    background-color: #3d539c;
    display: flex;
    margin-top: 51px;
    width: 803px;
    height: 157px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: center
  }
  .style5,
  .style7 {
    color: #fff;
    text-align: center;
    font-family: avenirltstd,serif
  }
  .style7 {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2em;
    height: 26px
  }
  .style5 {
    font-size: 2.6em;
    margin-left: 355px;
    margin-top: 157px;
    height: 48px
  }
  .style2 {
    background-color: #ffb233;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 192px;
    flex-direction: column;
    justify-content: center
  }
  .container2row0 {
    display: flex;
    margin-left: 454px;
    width: 342px;
    height: 38px;
    align-items: stretch
  }
  .style4 {
    color: #262626;
    text-align: center;
    font-family: avenirltstd,serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    margin-left: 0
  }
  .style3 {
    background-color: #262626;
    margin-left: 19px;
    width: 29px
  }
}